.wrapper {
  display: flex;
}

.message {
  display: flex;
  align-items: center;
  justify-content: baseline;
}

.message:nth-of-type(even) {
  flex-direction: row-reverse;
}

.message:nth-of-type(even) img {
  margin-left: 10px;
}
